.App {
  text-align: center;
}

.App-logo-container {
  width: 441px;
  height: 566px;
  margin: 50px auto;
  perspective: 1200px; /* Perspectiva para criar o efeito de profundidade 3D */
}

.App-logo {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate 5s infinite linear; /* Animação contínua da rotação */
  position: static;
}
.App-logo2 {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate 5s infinite linear; /* Animação contínua da rotação */
  position: static;
}

.App-logo2 img {
  position: static;
  backface-visibility: hidden; /* Impede que a parte de trás da imagem seja visível durante a rotação */
  width: 100%;
  height: 100%;
}

/* Frente da camisa - Aparece com 0deg de rotação */
.App-logo .front {
  transform: rotateY(0deg); /* Frente da camisa */
}

/* Verso da camisa - Aparece com 180deg de rotação */
.App-logo .back {
  transform: rotateY(180deg); /* Verso da camisa */
}

/* Definindo a animação da rotação 3D */
@keyframes rotate {
  0% {
    transform: rotateY(0deg); /* Começa mostrando a frente */
  }
  50% {
    transform: rotateY(180deg); /* Meio da animação, mostrando o verso */
  }
  100% {
    transform: rotateY(360deg); /* Finaliza a animação, retornando à frente */
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
